@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Inter:wght@100..900&family=Inter+Tight:wght@100..900&display=swap');


/* ---Caption figure--- */
.caption {
    font-size: 	.875em;
    font-style: italic;
    margin-top: 	.75em;
    padding-left: .1em;
}

.navbar {
  font-family: 'Inter Tight', Roboto;
}

.navbar-brand {
  font-weight: 800;
}
footer-chulapa{background-color:#0d1117;color:#8b949e;font-weight:400;border-top:0}.footer-chulapa a{color:#58a6ff;text-decoration:none;font-weight:700}.footer-chulapa a:hover,.footer-chulapa a:focus{color:#8b949e}

footer {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #22272e !important;
  color: #8b949e;
  margin-bottom: 0;
  font-family: 'Inter Tight', Roboto;
  font-weight: 800;
}

footer a {
  color: #58a6ff;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #8b949e;
}

footer .pkgdown-footer-right {
  margin-right: auto;
  padding-right: 1.25rem;
}

footer .pkgdown-footer-left {
  margin-left: auto;
  padding-left: 1.25rem;
}

@media screen and (max-width: 576px) {
  footer .pkgdown-footer-right,
  footer .pkgdown-footer-left {
    margin-right: .75rem;
    margin-left: .75rem;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:768px) and (min-width:576px) {
  footer .pkgdown-footer-right,
  footer .pkgdown-footer-left {
    max-width: 270px;
  }
}

@media (max-width: 992px) and (min-width:768px) {
  footer .pkgdown-footer-right,
  footer .pkgdown-footer-left {
    max-width: 360px;
  }
}

@media (max-width: 1200px) and (min-width:992px) {
  footer .pkgdown-footer-right,
  footer .pkgdown-footer-left {
    max-width: 480px;
  }
}

@media (max-width: 1400px) and (min-width:1200px) {
  footer .pkgdown-footer-right,
  footer .pkgdown-footer-left {
    max-width: 570px;
  }
}

@media (min-width:1400px) {
  footer .pkgdown-footer-right,
  footer .pkgdown-footer-left {
    max-width: 660px;
  }
}
