@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Inter:wght@100..900&family=Inter+Tight:wght@100..900&display=swap');


/* ---Caption figure--- */
.caption {
    font-size: 	.875em;
    font-style: italic;
    margin-top: 	.875em;
}

.navbar {
  font-family: 'Inter Tight', Roboto;
}