/*!  Compressed with sass R library https: //rstudio.github.io/sass/*/

/* ---Images and captions figure spacing--- */
main img {
	margin-left: auto;
	margin-right: auto;
}

.caption,
.figure {
	color: #6a788a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5rem;
	font-size: 85%;
	width: 100%;
}

/* ---Navbar tweaks--- */
[data-bs-theme="dark"] .navbar {
	background-color: var(--bs-body-bg) !important;
}

.navbar {
	font-family: "Inter Tight", Roboto;
}

.navbar-brand {
	font-weight: 800;
	color: #fff;
}

.navbar .text-muted {
	color: #c6ced8 !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
	color: #fff;
}

#navbar {
	font-weight: 800;
}

#navbar .dropdown-menu {
	background-color: #22272e !important;
}

#navbar .dropdown-menu .dropdown-item {
	color: #fff;
	font-weight: 800;
}

#navbar .nav-link:hover,
#navbar .nav-link:focus {
	color: #6a788a !important;
}

#navbar .nav-link {
	color: var(--brand-white);
}

#navbar .dropdown-menu .dropdown-item:hover,
#navbar .dropdown-menu .dropdown-item:focus,
#navbar .dropdown-menu .dropdown-item.active:hover,
#navbar .dropdown-menu .dropdown-item.active:focus {
	color: #6a788a;
	background-color: #f8f9fa;
}

#navbar .nav-item.active .nav-link,
#navbar .dropdown-menu .dropdown-item.active {
	color: #d3d4d5;
}

#navbar .dropdown-menu .dropdown-item .fa {
	opacity: 1;
	color: inherit;
}

.navbar-toggler {
	border: none;
}

.algolia-autocomplete .aa-dropdown-menu {
	color: #22272e;
}

[data-bs-theme="dark"] {
	.algolia-autocomplete .aa-dropdown-menu {
		color: rgba(255, 255, 255, 0.55);
	}
}

/* ---Footer--- */
footer {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background-color: #0d1117 !important;
	color: #8b949e;
	margin-bottom: 0;
	font-family: "Inter Tight", Roboto;
	font-weight: 700;
}

/* Dark mode footer */
[data-bs-theme="dark"] footer {
	background-color: var(--bs-body-bg) !important;
}

footer a {
	color: #58a6ff;
	text-decoration: none;
}

footer a:hover,
footer a:focus {
	color: #8b949e;
}

footer .pkgdown-footer-right {
	margin-right: auto;
	padding-right: 1.25rem;
}

footer .pkgdown-footer-left {
	margin-left: auto;
	padding-left: 1.25rem;
}

@media screen and (max-width: 576px) {
	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		margin-right: 0.75rem;
		margin-left: 0.75rem;
		padding-left: 12px;
		padding-right: 12px;
	}
}

@media (max-width: 768px) and (min-width: 576px) {
	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 270px;
	}
}

@media (max-width: 992px) and (min-width: 768px) {
	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 360px;
	}
}

@media (max-width: 1200px) and (min-width: 992px) {
	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 480px;
	}
}

@media (max-width: 1400px) and (min-width: 1200px) {
	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 570px;
	}
}

@media (min-width: 1400px) {
	footer .pkgdown-footer-right,
	footer .pkgdown-footer-left {
		max-width: 660px;
	}
}

/* ---Misc--- */
/* Hack to change root variables in dark mode GitDev Dark */

[data-bs-theme="dark"] {
	color-scheme: dark;
	--bs-body-bg: #24292f;
	--bs-body-color: #fff;
	--bs-primary-color: rgb(56.1, 60.6, 66.9);
	--bs-secondary-color: #6c757d;
	--bs-success-color: #2da44e;
	--bs-info-color: #9686be;
	--bs-warning-color: #d4a72c;
	--bs-danger-color: #d86f75;
	--bs-light-color: #f8f9fa;
	--bs-dark-color: #343a40;
	--bs-link-color: #2b8ffd;
	--bs-link-hover-color: #025cc0;
}

img.logo {
	display: none;
}

.template-home img.logo {
	display: inline;
}

/* Hack to reduce color in dark mode */
[data-bs-theme="dark"] img.r-plt,
[data-bs-theme="dark"] pre .r-plt.img img,
[data-bs-theme="dark"] .cell-output-display img,
[data-bs-theme="dark"] .html-widget {
	filter: grayscale(33%) !important;
}

blockquote {
	border-left: solid #0969da !important;
	font-size: 115%;
}

.pkg {
	font-weight: bold;
}

/* ---Code--- */
code a:any-link {
	text-decoration: underline;
	text-decoration-color: #6c757d;
}

a > code {
	text-decoration: underline;
	color: #e83e8c;
}

code {
	font-size: 87.5%;
	color: #e83e8c;
	word-wrap: break-word;
}

/* Dark Mode */
[data-bs-theme="dark"] {
	code a:any-link {
		color: inherit;
	}

	code {
		color: #e75ca2;
		background-color: rgba(var(--bs-emphasis-color-rgb), 0.04);
	}
}

/* --- Inherited args --- */

.template-reference-topic dt code {
	font-weight: 700;
	font-family: var(--bs-body-font-family);
	font-size: var(--bs-body-font-size);
	color: var(--bs-body-color);
	text-align: var(--bs-body-text-align);
	background-color: var(--bs-body-bg);
	padding: 0;
	border-radius: 0;
}

/* --- Highlighter based in gitdevr --- */
pre {
	border: none;
}

pre {
	background-color: #f8f9fa;
	color: var(--bs-primary);
}

pre code

/* Normal - pygments.n */ {
	color: var(--bs-primary);
}

pre code span.al

/* Alert - pygments.gr */ {
	color: var(--bs-danger);
}

pre code span.an

/* Annotation - pygments.c1 */ {
	color: var(--bs-gray-dark);
	font-style: italic;
}

pre code span.at

/* Attribute - e.g value (non numeric) in YAML */ {
	color: var(--bs--info);
}

pre code span.cf

/* ControlFlow - like Operator -> pygments.o */ {
	color: var(--bs-info);
}

pre code span.ch

/* Char - pygments.s2 */ {
	color: var(--bs--warning);
}

pre code span.cn

/* Constant - pygments.nb */ {
	color: var(--bs--warning);
}

pre code span.co

/* Comment - pygments.c1 */ {
	color: var(--bs-gray-dark);
	font-style: italic;
}

pre code span.cv

/* CommentVar - pygments.c1 */ {
	color: var(--bs-gray-dark);
	font-style: italic;
}

pre code span.do

/* Documentation - pygments.c1 */ {
	color: var(--bs-gray-dark);
	font-style: italic;
}

pre code span.dv

/* DecVal - pygments.m */ {
	color: var(--bs-info);
}

pre code span.er

/* Error - pygments.gr */ {
	color: var(--bs-danger);
}

pre code span.fl

/* Float - pygments.m */ {
	color: var(--bs-info);
}

pre code span.fu

/* Function - pygments.n */ {
	color: var(--bs-blue);
}

pre code span.in

/* Information - pygments.gp */ {
	color: var(--bs-gray-dark);
	font-style: italic;
}

pre code span.kw

/* Keyword - pygments.k */ {
	color: var(--bs-info);
	font-weight: bold;
}

pre code span.op
  /* Operator - pygments.o */ {
	color: var(--bs-info);
}

pre code span.ot

/* Other - pygments.sx */ {
	color: var(--bs-success);
}

pre code span.sc

/* SpecialChar - pygments.s2 */ {
	color: var(--bs-success);
}

pre code span.ss

/* SpecialString - pygments.s2 */ {
	color: var(--bs-success);
}

pre code span.st

/* String - pygments.s2 */ {
	color: var(--bs-success);
}

pre code span.va

/* Variable - pygments.n */ {
	color: var(--bs-primary);
}

pre code span.vs

/* VerbatimString - pygments.s2 */ {
	color: var(--bs-danger);
}

pre code span.wa

/* Warning - pygments.gr */ {
	color: var(--bs-danger);
}

/* --- Dark Mode --- */
[data-bs-theme="dark"] {
	a.external-link:not(:has(*)),
	a.uri:not(:has(*)) {
		color: #2b8ffd;
	}

	.nav-item.active .nav-link {
		background: transparent;
	}
}

/* Highlighter based in gitdevr --- */

[data-bs-theme="dark"] {
	pre {
		background-color: #2f363d;
		color: var(--bs-light-color);
	}

	pre code

/* Normal - pygments.n */ {
		color: var(--bs-light-color);
	}

	pre code span.al

/* Alert - pygments.gr */ {
		color: var(--bs-danger-color);
	}

	pre code span.an

/* Annotation - pygments.c1 */ {
		color: var(--bs-dark-text-emphasis);
		font-style: italic;
	}
	pre code span.at
/* Attribute - e.g value (non numeric) in YAML */ {
		color: var(--bs--info-color);
	}

	pre code span.cf

/* ControlFlow - like Operator -> pygments.o */ {
		color: var(--bs-info-color);
	}

	pre code span.ch

/* Char - pygments.s2 */ {
		color: var(--bs--warning-color);
	}

	pre code span.cn

/* Constant - pygments.nb */ {
		color: var(--bs--warning-color);
	}

	pre code span.co

/* Comment - pygments.c1 */ {
		color: var(--bs-dark-text-emphasis);
		font-style: italic;
	}

	pre code span.cv

/* CommentVar - pygments.c1 */ {
		color: var(--bs-dark-text-emphasis);
		font-style: italic;
	}

	pre code span.do

/* Documentation - pygments.c1 */ {
		color: var(--bs-dark-text-emphasis);
		font-style: italic;
	}

	pre code span.dv

/* DecVal - pygments.m */ {
		color: var(--bs-info-color);
	}

	pre code span.er

/* Error - pygments.gr */ {
		color: var(--bs-danger-color);
	}

	pre code span.fl

/* Float - pygments.m */ {
		color: var(--bs-info-color);
	}

	pre code span.fu

/* Function - pygments.n */ {
		color: var(--bs-link-color);
	}

	pre code span.in

/* Information - pygments.gp */ {
		color: var(--bs-dark-text-emphasis);
		font-style: italic;
	}

	pre code span.kw

/* Keyword - pygments.k */ {
		color: var(--bs-info-color);
		font-weight: bold;
	}

	pre code span.op
  /* Operator - pygments.o */ {
		color: var(--bs-info-color);
	}

	pre code span.ot

/* Other - pygments.sx */ {
		color: var(--bs-success-color);
	}

	pre code span.sc

/* SpecialChar - pygments.s2 */ {
		color: var(--bs-success-color);
	}

	pre code span.ss

/* SpecialString - pygments.s2 */ {
		color: var(--bs-success-color);
	}

	pre code span.st

/* String - pygments.s2 */ {
		color: var(--bs-success-color);
	}

	pre code span.va

/* Variable - pygments.n */ {
		color: var(--bs-light-color);
	}

	pre code span.vs

/* VerbatimString - pygments.s2 */ {
		color: var(--bs-danger-color);
	}

	pre code span.wa

/* Warning - pygments.gr */ {
		color: var(--bs-danger-color);
	}
}

/* Dark reactable */

[data-bs-theme="dark"] {
	.reactable.html-widget {
		filter: none !important;
	}
	.Reactable a {
		color: #2b8ffd;
	}

	.Reactable {
		background-color: var(--bs-body-bg);
		color: var(--bs-light);
	}

	.rt-sticky,
	.rt-tbody,
	.rt-tr,
	.rt-tr-group {
		background-color: inherit;
	}

	.rt-table {
		border-color: var(--bs-gray-900);
	}

	.rt-th {
		border-bottom: 2px solid var(--bs-gray-900);
		border-left-color: var(--bs-gray-900);
	}

	.rt-td {
		border-left-color: var(--bs-gray-900);
		border-top: 1px solid var(--bs-gray-900);
	}

	.rt-th-group:after {
		background-color: var(--bs-gray-900);
	}

	.rt-tr-striped {
		background-color: rgba(0, 0, 0, 0.03);
	}

	.rt-tr-striped-sticky {
		background-color: var(--bs-gray-900);
	}

	.rt-tr-highlight:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	.rt-tr-highlight-sticky:hover {
		background-color: var(--bs-gray);
	}
	.rt-td-filter {
		border-bottom: 1px solid var(--bs-gray-900);
	}

	.rt-filter {
		background-color: var(--bs-gray-900);
		border: 1px solid var(--bs-gray-900);
		color: inherit;
	}

	.rt-filter:focus {
		border: 1px solid var(--bs-gray-900);
	}

	.rt-expander:after {
		border-top: 7px solid var(--bs-gray-900);
	}

	.rt-pagination {
		border-top: 1px solid var(--bs-gray-900);
	}

	.rt-page-jump,
	.rt-page-size-select {
		background-color: var(--bs-body-bg);
		border: 1px solid var(--bs-gray-900);
	}

	.rt-page-button:hover {
		background-color: rgba(0, 0, 0, 0.04);
	}

	.rt-page-button:active {
		background-color: rgba(0, 0, 0, 0.08);
	}

	.rt-keyboard-active .rt-page-button:focus {
		background-color: rgba(0, 0, 0, 0.04);
	}

	.rt-page-button:disabled:focus,
	.rt-page-button:disabled:hover {
		background-color: transparent;
	}

	.rt-tbody-no-data .rt-td {
		border-color: transparent;
	}

	.rt-search {
		background-color: var(--bs-gray-900);
		border: 1px solid var(--bs-gray-900);
		color: var(--bs-light);
	}

	.rt-search:active,
	.rt-search:focus {
		border: 1px solid var(--bs-gray-900);
	}

	.rt-borderless .rt-td,
	.rt-tr-group:first-child > .rt-tr:first-child .rt-td {
		border-top-color: var(--bs-gray-900);
	}
}
